{% extends 'Board/base.html' %}

{% block base %}
    {% if user.is_authenticated %}
        <div class="page-header">
        <a href="{% url 'insert_lyric' rank=songInfo.rank %}" class="top-menu">add lyric
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
  <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
  <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
</svg></a>
        </div>
    {% endif %}
<div style="border:5px solid red">
    <h3>Song Title : {{ songInfo.title }}</h3>
    <h3>Song Artist : {{ songInfo.artist }}</h3>
    <h3>Song Rank : {{ songInfo.rank }}</h3>
    <p>Song Lyric : {{ songInfo.lyric }}</p>
</div>
    {% if user.is_authenticated and user.is_staff %}
        {% for lyric in lyrics %}
            <h3>Lyric{{ forloop.counter }}</h3>
            <p>{{ lyric.lyric_candidate }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}
