{% extends 'Board/base.html' %}

{% block base %}
    {% if user.is_authenticated %}
        <div class="page-header">
        <a href="{% url 'insert_lyric' rank=songInfo.rank %}" class="top-menu">
            <span class="glyphicon glyphicon-plus">+</span></a>
        </div>
    {% endif %}
    <h3>Song Title : {{ songInfo.title }}</h3>
    <h3>Song Artist : {{ songInfo.artist }}</h3>
    <h3>Song Rank : {{ songInfo.rank }}</h3>
    <p>Song Lyric : {{ songInfo.lyric }}</p>
    {% if user.is_authenticated and user.is_staff %}

    {% endif %}
{% endblock %}