{% extends 'Board/base.html' %}
{% block base %}
     {% if form.errors %}
        <p>invalid pattern.</p>
    {% endif %}
    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <table class="table table-bordered table-hover">
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password1.label_tag }}</td>
                <td>{{ form.password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.password2.label_tag }}</td>
                <td>{{ form.password2 }}</td>
            </tr>
        </table>
        <input type="submit" value="signup" class="btn btn-primary btn-lg"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>

{% endblock %}